/* TABLET */

@media screen and (max-width: 1024px) {
  section {
    margin: 0 5rem;
  }

  #profile {
    flex-direction: column;
    text-align: center;
  }

  .section-container {
    flex-direction: column;
  }

  .about-containers {
    flex-direction: column;
  }
}

/* MOBILE */

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    height: 10vh;
    align-items: center;
  }

  section {
    margin: 0 2rem;
  }

  .section__pic-container {
    height: 250px;
    width: 250px;
    margin: 0 auto;
  }

  .title {
    font-size: 2rem;
  }

  .article-container {
    justify-content: center;
  }

  .contact-info-upper-container {
    flex-direction: column;
    gap: 1rem;
  }
}
